# ============================================================
#  TurnoSalud — Backend — Plantilla de Variables de Entorno
#  Copiá este archivo como ".env" y completá los valores
#  NUNCA commitees el archivo .env real al repositorio
# ============================================================

NODE_ENV=development
PORT=3001

DB_HOST=localhost
DB_PORT=3306
DB_NAME=turnosalud
DB_USER=root
DB_PASSWORD=Matias1234!

JWT_SECRET=GENERAR_CON_node_-e_require_crypto_randomBytes_64_toString_hex

APP_DOMAIN=http://localhost:5173

MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=TU_EMAIL@gmail.com
MAIL_PASS=TU_APP_PASSWORD_16_CHARS
MAIL_FROM="TurnoSalud" <noreply@turnosalud.com>

# MP_ACCESS_TOKEN=APP_USR-...
# STRIPE_SECRET_KEY=sk_test_...
# STRIPE_PUBLISHABLE_KEY=pk_test_...
